* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #313131;
}
a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}
.button{
    outline: 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}